.map-container {
  position: relative;
  height: 100%;
}

#map {
  height: calc(100% - 60px);
}

.controls-container {
  padding: 10px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.truck-selector, .simulation-controls {
  margin: 0 10px;
}

 /* Estilos para el boton */

 .btn-primary {
  margin-top: 20px;
padding: 12px 24px;
border-radius: 6px;
font-weight: bold;
cursor: pointer;
transition: background-color 0.3s ease;
}

.btn-primary {
background-color: var(--color-secundario);
color: var(--color-blanco);
border: none;
}

.btn-primary:hover {
background-color: var(--color-primario);
}
