<app-sidebar></app-sidebar>

<div class="content">
  <!-- Título de la sección -->
  <h2 class="section-title">Clientes</h2>

  <!-- Barra de búsqueda y botón -->
  <div class="row align-items-center mb-4 gy-3">
    <div class="col-12 col-md-8">
      <div class="search-container w-100">
        <input type="text" id="search" class="search-bar-input" placeholder="Buscar clientes..." />
        <img src="/assets/icon-search.png" alt="Buscar" class="search-icon" />
      </div>
    </div>
    <div class="col-12 col-md-4 d-flex justify-content-md-end justify-content-start">
      <button class="add-button" (click)="redirectCrearCliente()">Nuevo Cliente</button>
    </div>
  </div>

  

  <!-- Tabla de clientes -->
  <div class="table-container">
    <table class="orders-table table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre de Compañia</th>
          <th>RUC</th>
          <th>Email</th>
          <th>Dirección</th>
          <th>Localización</th>
          <th>Teléfono</th>
          <th>Ciudad</th>
          <th>Ubicación</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
          <td>{{ cliente.id }}</td>
          <td>{{ cliente.companyName }}</td>
          <td>{{ cliente.ruc }}</td>
          <td>{{ cliente.email }}</td>
          <td>{{ cliente.address }}</td>
          <td>{{ cliente.location }}</td>
          <td>{{ cliente.phone }}</td>
          <td>{{ cliente.city }}</td>
          <td class="ubicacion-column">
            <button type="button" class="btn-map unit" (click)="verUbicacionDestino(cliente.id)">
              <img src="/assets/icon-gps-mark.png" alt="GPS mark" class="gps-mark">
            </button>
          </td>
          <td>
            <img src="/assets/icon-pencil.png" alt="Editar" class="edit-btn" (click)="editarCliente(cliente.id)" />
            <img src="/assets/icon-trash.png" alt="Eliminar" class="delete-btn" (click)="eliminarCliente(cliente.id)" />
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Confirmación flotante -->
  <div class="confirmation-dialog" *ngIf="showConfirmation">
    <p>¿Estás seguro de que deseas eliminar este pedido?</p>
    <div class="options-btn">
      <button class="confirm-btn" (click)="confirmarEliminacion()">Sí, eliminar</button>
      <button class="cancel-btn" (click)="cancelarEliminacion()">Cancelar</button>
    </div>
  </div>

</div>