/* Estilo general para el contenido de la parte derecha */
.content {
    padding: 40px 60px;
    background-color: var(--color-blanco);
    margin-left: var(--sidebar-width);
  }
  
  .section-title {
    font-size:35px;
    font-weight: bold;
    color: var(--color-secundario); /* Azul oscuro */
    margin-bottom: 50px;
  }

  .seccion{
    width: 850px;
  }

  .truck-data-container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
  }

  /* Estilos para el boton */

  .btn-primary {
    margin-top: 20px;
  padding: 12px 24px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary {
  background-color: var(--color-secundario);
  color: var(--color-blanco);
  border: none;
}

.btn-primary:hover {
  background-color: var(--color-primario);
}


  /* Estilos para el mapa */
  .map-container{
    display: flex;
    align-items: center;
    justify-content: center;
  }


   /* Estilos para la tabla */
.table-container {
  max-width: 940px;
  overflow: hidden;
  border-radius: 10px; 
  border: 1px solid var(--color-secundario);
  margin-bottom: 20px;
}

.truck-table {
  width: 100%;
  border-style: hidden;
  border-collapse: collapse;
}

.truck-table th,
.truck-table td {
  border: 1px solid var(--color-secundario);
  padding: 10px;
  text-align: center;
}

.truck-table th {
  background-color: var(--color-blanco);
  color: var(--color-primario);
}

.truck-table td {
  background-color: var(--color-blanco);
  color: var(--color-negro);
}

.truck-header {
  display: grid;                   
  grid-template-columns: 25% 65%; 
  align-items: center;             
  text-align: left;                
}

.truck-header label {
    font-weight: bold;
}

.truck-data-container {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
}

p{
  color: var(--color-azul);
  font-size: 18px;
  font-weight: bold;
  margin-top: 0px;
}